:root {
  --primary-color: #2ec4b6;
  --secondary-color: #e71d36;
  --terciary-color: #05668d;
  --color-dark: #011627; 
  --color-light: #fdfffc;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*:focus {
  outline: none;
}

button > * {
  pointer-events: none;
}

body {
  display: grid;
  place-items: center;
  color: var(--color-dark);
  background-color: var(--color-dark);
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  width: 100vw;
}

.container {
  display: flex;
  flex-direction: column;
  width: 95%;
  height: 95%;
  max-width: 1200px;
  background-color: var(--color-light);
  justify-content: center;
  padding: 2rem;
  transition: all .5s;
}

.header {
  text-align: center;
  font-size: 1.1rem;
}

.header__title {
  font-size: 2rem;
  font-weight: 500;
  color: var(--terciary-color);
  font-family: 'Ubuntu', sans-serif;
  font-variant: all-petite-caps;
}

.header__subtitle {
  font-variant: small-caps;
  font-size: .9rem;
  font-weight: 300;
  color: var(--terciary-color);
}

.content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content__form {
  width: 90%;
  margin: 2rem auto;
}

.content__form form {
  display: flex;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, .2);
}

.content__form__input {
  flex: 1;
  width: 100%;
  font-size: 1.1rem;
  padding: 10px;
  border: 2px solid var(--primary-color);
}

.content__form__button {
  color: var(--color-light);
  background-color: var(--primary-color);
  border: none;
  font-size: 1.1rem;
  cursor: pointer;
  width: 45px;
}

.content__list {
  width: 90%;
  overflow-y: auto;
  font-size: 1.1rem;
  list-style-position: inside;
  margin: 0 auto;
}

.content__list__item {
  padding-bottom: 1rem;
  position: relative;
  padding-right: 30px;
}

.content__list__delete { 
  display: none;
  cursor: pointer;
}

.content__list__item:hover .content__list__delete {
  display: block;
  width: 30px;
  height: 30px;
  padding: 5px;
  color: var(--color-light);
  background-color: var(--secondary-color);
  border: none;
  position: absolute;
  top: 0;
  right: 0;
}

.delete_all {
  text-align: right;
  color: var(--secondary-color);
  cursor: pointer;
  font-weight: 900;
  margin-top: 1rem;
}

.error {
  border-color: var(--secondary-color) !important;
}

.projectlink {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.github {
  opacity: .5;
  display: inline-block;
  vertical-align: text-top;
  fill: var(--color-light);
}



@media (max-width: 600px){
  .container {
    width: 100%;
    height: 100%;
  }

  .content__form {
    width: 100%;
  }

}